.movies-list {
    box-sizing: border-box;
    max-width: 1280px;
    width: 100%;
    padding: 101px 0 50px 0;
}
.movies-list__list {
    display: grid;
    grid-template-columns: repeat(3, 364px);
    grid-template-rows: repeat(1, 271px);
    row-gap: 30px;
    column-gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    justify-content: center;
}

@media screen and (max-width: 1080px) {
    .movies-list__list{
        margin-top: 80px;
        grid-template-columns: repeat(auto-fill, minmax(339px,339px));
        row-gap: 36px;
        column-gap: 30px;
    }
    .movies-list {
        padding: 70px 0 60px 0;
    }
}
@media screen and (max-width: 900px) {
    .movies-list {
        padding: 70px 0 60px 0;
    }
}
@media screen and (max-width: 800px) {
    .movies-list {
        padding: 60px 0 70px 0;
    }
}
@media screen and (max-width: 400px) {
    .movies-list__list {
        margin-top: 41px;
        grid-template-columns: repeat(auto-fill, minmax(300px,300px));
        row-gap: 16px;
    }
    .movies-list {
        padding: 50px 0 80px 0;
    }
}
