.movies-list {
    box-sizing: border-box;
    width: 100%;
}
.movies-list__list {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 364px);
    grid-template-rows: repeat(1, 271px);
    row-gap: 30px;
    column-gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    justify-content: center;
    padding: 101px 10px 50px 10px; 
}
@media screen and (max-width: 1200px) {
    .movies-list__list{
        margin-top: 80px;
        grid-template-columns: repeat(2, 339px);
        row-gap: 36px;
        column-gap: 30px;
        padding: 70px 10px 60px 10px;
    }
}
@media screen and (max-width: 900px) {
    .movies-list__list {
        grid-template-columns: repeat(2, 320px);
        row-gap: 20px;
       padding: 70px 10px 60px 10px;
    }
}
@media screen and (max-width: 800px) {
    .movies-list__list {
        padding: 60px 10px 70px 10px;
    }
}
@media screen and (max-width: 720px) {
    .movies-list__list {
        grid-template-columns: repeat(1, 310px);
        row-gap: 18px;
    }
}
@media screen and (max-width: 400px) {
    .movies-list__list {
        margin-top: 41px;
        grid-template-columns: repeat(1, 280px);
        row-gap: 16px;
        padding: 50px 0 80px 0;
    } 
}
