.container {
    padding: 0 70px;
    max-width: 1280px;
    margin: 0 auto;
}
@media screen and (max-width: 800px) {
    .container {
        padding: 0 50px;
    }
}
@media screen and (max-width: 768px) {
    .container {
        padding: 0 30px;
    }
}
@media screen and (max-width: 550px) {
    .container {
        padding: 0 20px;
    }
}
@media screen and (max-width: 400px) {
    .container {
        margin: 0 14px;
        padding: 0;
    }
}