.techs{
    padding: 100px 70px;
    background-color: #F5F5F5;
}
.techs__container {
    max-width: 1280px;
	width: 100%;
	box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.techs__title{
    margin: 90px 0 26px;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -2px;
}
.techs__text{
    max-width: 460px;
    min-height: 40px;
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.26px;
    text-align: center;
    margin-bottom: 100px;
}
.techs__list{
    display: grid;
    grid-template-columns: repeat(7, 90px);
    column-gap: 10px;
    row-gap: 10px;
    grid-template-rows: repeat(1, 60px);
    padding: 0;
    margin: 0;
    list-style: none;
}
.techs__list-item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    background-color: #E8E8E8;
    border-radius: 10px;
    margin: 0;
    color: #000;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.56px;
}
@media screen and (max-width: 768px) {
    .techs{
        padding: 70px 14px;
        background-color: #FFF;
    }
    .techs__title{
        margin: 80px 0 22px;
    }
    .techs__text{
        min-height: 36px;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.48px;
        margin-bottom: 83px;
    }
    .techs__list{
        display: grid;
        grid-template-columns: repeat(7, 84px);
        grid-template-rows: repeat(1, 57px);
        row-gap: 10px;
    }
    .techs__list-item {
        font-size: 12px;
        letter-spacing: -0.48px;
    }
}
@media screen and (max-width: 700px) {
    .techs__list{
        display: grid;
        grid-template-columns: repeat(6, 84px);
        grid-template-rows: repeat(2, 57px);
        row-gap: 10px;
    }
}
@media screen and (max-width: 600px) {
    .techs__list{
        display: grid;
        grid-template-columns: repeat(5, 84px);
        grid-template-rows: repeat(2, 57px);
        row-gap: 10px;
    }
}
@media screen and (max-width: 500px) {
    .techs__list{
        display: grid;
        grid-template-columns: repeat(4, 84px);
        grid-template-rows: repeat(2, 57px);
        row-gap: 10px;
    }
}
@media screen and (max-width: 400px) {
    .techs__list{
        display: grid;
        grid-template-columns: repeat(3, 84px);
        grid-template-rows: repeat(3, 57px);
        row-gap: 10px;
    }
}
@media screen and (max-width: 360px) {
    .techs{
        padding: 70px 14px;
        background-color: #FFF;
    }
    .techs__title{
        margin: 60px 0 24px;
        font-size: 30px;
        letter-spacing: -1.2px;
    }
    .techs__text{
        max-width: 292px;
        min-height: 32px;
        font-size: 11px;
        line-height: 16px;
        letter-spacing: -0.44px;
        margin-bottom: 50px;
    }
    .techs__list{
        display: grid;
        grid-template-columns: repeat(2, 84px);
        grid-template-rows: repeat(4, 57px);
        row-gap: 10px;
    }
}
