.more-movies{
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}

.more-movies__button{
    width: 320px;
    height: 36px;
    border: solid #E8E8E8 1px;
    background-color: transparent;
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    text-decoration: none;
    transition: opacity .3s ease-in-out;
}

.more-movies__button:hover {
    opacity: .6;
}