.nav-tab{
    display: flex;
    justify-content: center;
    padding-top: 151px;
    padding-bottom: 30px;
}

.nav-tab__list{
    display: flex;
	list-style: none;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.nav-tab__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E8E8E8;
    border-radius: 10px;
    width: 96px;
    height: 36px;
}

.nav-tab__link{
    text-decoration: none;
    color: #000;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    transition: opacity .3s ease-in-out;
    cursor: pointer;
}
.nav-tab__link:hover {
    opacity: .6;
}

@media screen and (max-width: 768px) {
    .nav-tab {
        padding-top: 314px;
    }
}

@media screen and (max-width: 600px) {
    .nav-tab {
        padding-top: 250px;
        padding-left: 17px;
        padding-right: 17px;
    }
}

@media screen and (max-width: 550px) {
    .nav-tab {
        padding-top: 212px;
        padding-bottom: 22px;
    }
    .nav-tab__list {
        gap: 6px;
    }
    .nav-tab__item {
        border-radius: 6px;
        width: 82px;
        height: 26px;
    }
    .nav-tab__link {
        font-size: 10px;
        line-height: 16px;
    }
}
